ul {

    background-color: white;
    list-style-type: none;
    display:inline;
    position: fixed;
    margin-top:-1%;
    padding-bottom:0.5%;
    width: 95.5%;
    border-color: black;
    border-style: solid;
    border-width: thin;

}

a.hbar1{
    color: White;
    padding-right: 20%;
    font-family: "Arial Black";
    font-size:150%;
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 10s infinite;
    animation: color-change 10s infinite;
}



.hbar {

    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-family: "Arial";


}

/* On mouse-over */
.hbar:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}


.fa-linkedin {
    background: #007bb5;
    color: white;
    font-size: 100%;
    margin-left: 10%;
    padding: 0.25%;
}

b.email{
    font-size: 4%;
    margin-left: 1% ;
    margin-right: 1%;
    font-size: 50%;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;

}

b.phone{
    font-size: 70%;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

.title{

    text-align: center;
    font-family: "Arial";
    padding-top: 2%;
    font-size: 170%;
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
    0% { color: black; }
    50% { color: red; }
    100% { color: black; }
}
@-moz-keyframes color-change {
    0% { color: black; }
    50% { color: red; }
    100% { color: black; }
}
@-ms-keyframes color-change {
    0% { color: black; }
    50% { color: red; }
    100% { color: black; }
}
@-o-keyframes color-change {
    00% { color: black; }
    50% { color: red; }
    100% { color: black; }
}
@keyframes color-change {
    0% { color: black; }
    50% { color: red; }
    100% { color: black; }
}

.mainbody{
    padding-top: 3%;
    border-color: #2c5e87;
    background-color: floralwhite;
    border-width: medium;
    border-style: dashed;

}

.img1{
    padding-top:1%;
    width: 20%;
    height: 30%;
    float: left;
    padding-right: 2%;
    border-radius: 50%;
}



.a1{
    padding-top:0%;
    color: red;
    font-family: "Arial Black";
}

.a2{
    color: red;
    font-family: "Arial Black";
}

.d{
    font-family: "Arial";
    color:darkblue;
}

.exp{
    color: black;
    font-family: "Arial Black";
    font-size: 170%;
    font-style: italic;
    margin-left: 16%;
}
.img2{
    margin-left:-72%;
    width:35%;
    length:11%;
    height: 60%;
    margin-bottom: 1%;

}

.img3{
    margin-left:-90%;
    width:17%;
    length:5%;
    height: 45%;
    margin-bottom: 1%;
}

.img4{
    margin-left: -90%;
    width: 17%;
    length:15%;
}

.img5{
    margin-left: -85%;
    width:30%;
    length:15%;
}

.img6{
    margin-left: -90%;
    width:15%;
    length:25%;
}

.exp{
    color: #2c5e87;
}

.th1{

    margin-left: -170%;
}

.h661{
    margin-left: -158%;
}

.h66{
    margin-top: -5%;
    margin-left: -158%;
}

.h662{
    margin-left: -195%;
}

.h663{
    margin-top: -5%;
    margin-left: -152%;
}

.h664{
    margin-left: -158%;
}

.h665{
    margin-top: -5%;
    margin-left: -205%;
}

.h666{
    margin-left: -158%;

}

.h667{
    margin-top: -5%;
    margin-left: -195%;
}

.h668{
    margin-left: -167%;
}

.h669{
    margin-top: -5%;
    margin-left: -228%;
}

.th2{
    margin-left: -175%;
}

.th3{
    margin-left: -195%;
}

.th4{
    margin-left: -220%;
}

.th5{
    margin-left: -235%;
}

.exp1{
    margin-left: 45%;
    color: #2c5e87;
    font-family: "Arial Black";
    font-size: 170%;
    font-style: italic;

}

.img7{
    margin-left:-38%;
    width:12%;
    length:5%;
    height: 7%;
    margin-bottom: 1%;
}

.img8{
    margin-left:-38%;
    width:12%;
    length:5%;
    height: 11%;
    margin-bottom: 1%;
}

.img9{
    margin-left:-38%;
    width:12%;
    length:5%;
    height: 9%;
    margin-bottom: 1%;
}

.img10{
    margin-left:-38%;
    width:12%;
    length:5%;
    height: 9%;
    margin-bottom: 1%;
}

.th6{
    margin-left: -355%;
}

.th7{
    margin-left: -240%;
}

.th8{
    margin-left: -330%;
}

.th9{
    margin-left: -400%;
}

.h6611{
    margin-left: -340%;
}

.h6612{
    margin-left: -370%;
}
.h6613{
    margin-left: -303%;
}

.h6614{
    margin-left: -271%;
}

.h6615{
    margin-left: -271%;
 }

.h6616{
    margin-left: -260%;
  }


.exd{
    width:3%;
}
